/*Hamburger Menu stuff */
.mainmenuButton{
    z-index: 11;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .burgerButton {
    width: 20px;
    height: 4px;
    background: black;
    border-radius: 2px;
  }
  
  .burgerButton::before,
  .burgerButton::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background: black;
    border-radius: 2px;
  }
  
  .burgerButton::before {
    transform: translateY(-5px);
  }
  
  .burgerButton::after {
    transform: translateY(5px);
  }
  
  .mainmenuButton.open .burgerButton {
    background: transparent;
  }
  
  .mainmenuButton.open .burgerButton::before {
    width: 20px;
  }
  
  .mainmenuButton.open .burgerButton::after {
    width: 20px;
  }

/*Mobile Design for Navigation Bar */
.displayoverlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 63px;
    overflow-x: hidden;
    display: block;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .displayoverlaytext {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .displayoverlay a {
    position: relative;
    padding: 8px;
    text-decoration: none;
    font-size: 3rem;
    color: var(--main);
    display: block;
  }
  
  .displayoverlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  
  .background {
    z-index: 6;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: var(--liteAccent);
    transition: all 750ms ease-in-out;
    transform: scale(0.1);
    position: absolute;
  }
  
  #logo {
    font-family: bebas-neue, sans-serif;
    font-size: 3.5rem;
  }
  
  #logo {
    display: none;
  }
  
  .navcontainer {
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navlinks {
    display: none;
  }
  
  .mobilenavbuttons {
    width: 33px;
    height: 33px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
