/* Media Queries */

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .l-main {
        height: 100vh;
    }
    .nav {
        height: 4rem;
    }
    .nav_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
    }
    .nav_item {
        margin-left: 3rem;
        margin-bottom: 0;
    }
    /*Might be able to add more here, return when possible */
    .nav_toggle {
        display: none;
    }
    .nav_link {
        text-transform: initial;
    }
    .home {
        -ms-grid-rows: max-content 20px;
            grid-template-rows: -webkit-max-content 20px;
            grid-template-rows: max-content 20px;
        -ms-flex-line-pack: center;
            align-content: center; 
    }
    .information_home {
        margin-top: 2rem;
    }
    .socialmedia_home {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        padding-top: 8rem;
        padding-bottom: 0;
    }
    .image_home-icon {
        margin-right: 2rem;
        margin-bottom: 0;
    }
    /* background image goes here, styling to be determined */
    .image_home {
        width: 553px;
        right: 5%;
    }
}

@media screen and (min-width: 1200px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

/*Main Styling*/

@media screen and (min-width: 768px) {
    :root {
      --h1-font-size: 4.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --small-font-size: 1.37rem;
    }
  }

:root {
    --first-color: #4E1116;
    --black-color: #000;
    --white-color: #FFF;
  }
  
  :root {
    --body-font: ;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1rem;
    --normal-font-size: 0.93rem;
    --small-font-size: 0.81rem;
  }
  
  :root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }
  
  *, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    margin: 3rem 0 0 0;
    font-family: var(--body-font);
    background-color: var(--black-color);
    color: var(--white-color);
    font-weight: 700;
    overflow: hidden;
  }

  h1, h2 {
      margin: 0;
  }

  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  a {
      text-decoration: none;
  }
/*background image */
  img {
      max-width: 100%;
      height: auto;
  }

  /* Navigation Bar Configuration */
  .nav {
      height: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
  }

  @media screen and (max-width: 768px) {
      .nav_menu {
          position: fixed;
          top: -100%;
          background-image: -webkit-gradient(linear, left top, left bottom, from(var(--black-color)), to(var(--first-color)));
          background-image: linear-gradient(var(--black-color), var(--first-color));
          width: 100%;
          height: 45%;
          padding: 1.5rem;
          border-radius: 0 0 1rem 1rem;
          transition: .7s;
          -webkit-transition: .5s;
      }
  }
