/* Media Queries */

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    .l-main {
        height: 100vh;
    }
    .nav {
        height: 4rem;
    }
    .nav_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
    }
    .nav_item {
        margin-left: 3rem;
        margin-bottom: 0;
    }
    /*Might be able to add more here, return when possible */
    .nav_toggle {
        display: none;
    }
    .nav_link {
        text-transform: initial;
    }
    .home {
        -ms-grid-rows: max-content 20px;
            grid-template-rows: -webkit-max-content 20px;
            grid-template-rows: max-content 20px;
        -ms-flex-line-pack: center;
            align-content: center; 
    }
    .information_home {
        margin-top: 2rem;
    }
    .socialmedia_home {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
        padding-top: 8rem;
        padding-bottom: 0;
    }
    .image_home-icon {
        margin-right: 2rem;
        margin-bottom: 0;
    }
    /* background image goes here, styling to be determined */
    .image_home {
        width: 553px;
        right: 5%;
    }
}