
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');




/*Hamburger Menu stuff */
.mainmenuButton{
    z-index: 11;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .burgerButton {
    width: 20px;
    height: 4px;
    background: black;
    border-radius: 2px;
  }
  
  .burgerButton::before,
  .burgerButton::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 4px;
    background: black;
    border-radius: 2px;
  }
  
  .burgerButton::before {
    transform: translateY(-5px);
  }
  
  .burgerButton::after {
    transform: translateY(5px);
  }
  
  .mainmenuButton.open .burgerButton {
    background: transparent;
  }
  
  .mainmenuButton.open .burgerButton::before {
    width: 20px;
  }
  
  .mainmenuButton.open .burgerButton::after {
    width: 20px;
  }

/*Mobile Design for Navigation Bar */
.displayoverlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 63px;
    overflow-x: hidden;
    display: block;
    opacity: 0;
  }
  
  .displayoverlaytext {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .displayoverlay a {
    position: relative;
    padding: 8px;
    text-decoration: none;
    font-size: 3rem;
    color: var(--main);
    display: block;
  }
  
  .displayoverlay a:hover,
  .overlay a:focus {
    color: white;
  }
  
  .background {
    z-index: 6;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    background-color: red;
    transform: scale(0.1);
    position: absolute;
  }
  
  #logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
  }
  
  #logo {
    display: none;
  }
  
  .navcontainer {
    z-index: 5;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .topnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .navlinks {
    display: none;
  }
  
  .mobilenavbuttons {
    width: 33px;
    height: 33px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutcontent {
    text-align: center;

  }

  @media (min-width: 268px) {
    body {
      background-color: rgb(50, 59, 59);
      color: white;
      font-family: 'Josefin Sans', sans-serif;
    }
  }


  /* Desktop Responsive Stuff */
  @media only screen and (min-width: 1024px) {
    body {
        max-width: 1200px;
        background-color: rgb(50, 59, 59);
        font-family: 'Josefin Sans', sans-serif;
        color: white;
      }
      
      .projectcontent {
        text-align: center;
        padding-top: 115px;
        font-family: 'Josefin Sans', sans-serif;
      }

      .about {
        padding-top: 145px;
        text-align: center;
        font-family: 'Josefin Sans', sans-serif;
      }

      #logo {
        color: white;
        text-decoration: none;
      }

      .helloText {
        padding-top: 115px;
        font-family: 'Josefin Sans', sans-serif;
      }
      
      .aboutcontent {
       padding-top: 7px;
       text-align: center;
       font-family: 'Josefin Sans', sans-serif;
      }

      .topnavbar {
        line-height: inherit;
        font-family: 'Josefin Sans', sans-serif;
      }
    
      .navcontainer {
        border-bottom: black 4px solid;
        background-color: rgb(3, 3, 3);
      }
    
      .navlinks {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        line-height: 3em;
      }

      #logo {
        display: flex;
      }

      .mobilenavbuttons {
        display: none;
      }
    
      .navlinks li a {
        margin-left: 25px;
        font-size: 1.4rem;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
      }
}

/*Style settings across the pages*/
body {
    font-family: arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2.75rem;
    padding: 20px;
    margin: auto;
    text-decoration: none; /*trying to get logo underline to disappear.*/
  }
/*Projects display */
  .projectdisplay {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: max(5vw, 90px);
    gap: min(10vw, 50px);
    color: black;
    font-style: italic;
  }
  
/*form styling */
:root {

  --sl-color-primary-50: #faf5ff;
  --sl-color-primary-100: #f3e8ff;
  --sl-color-primary-200: #e9d5ff;
  --sl-color-primary-300: #d8b4fe;
  --sl-color-primary-400: #1ac9e0;
  --sl-color-primary-500: #1a1918;
  --sl-color-primary-600: #0a0a0a;
  --sl-color-primary-700: #0f0e0e;
  --sl-color-primary-800: #1b1a1a;
  --sl-color-primary-900: #0e0d0d;

  .card-overview {
    max-width: 300px;
  }

  .card-overview small {
    color: var(--sl-color-gray-500);
  }

  .card-overview [slot="footer"] {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  
  
}

